@model emailsender.Models.MailModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to emailsender</h1>
    <p>please fill all required fields to send email</p>
</div>
